<%- include("header") -%>
<h2>Sobre mí</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas modi iusto sed repellat. Voluptatibus dignissimos eum voluptate ipsum nulla temporibus deleniti laudantium vel voluptates? Ea iure ipsam fugiat accusamus quae?</p>

<%- include("footer") -%>